html{
    font-family:sans-serif;
}
body{
    background: color #f7f8f9; 
    
}
header{
    background-color: #fff;
    padding: 30px;
    margin-button: 20px;
}
h1{
    display:inline-block;
}
header img.
header h1{
    vertical-align: middle;
}
main{
    width: 80%;
    margin: 0 auto;
}

.todolist-top{
    border-top-left-radius: 50px ;
    border-top-right-radius:  50 px,
    padding: 10px;
    margin: 2%

}
.todolist-top .btn-blu{
    background-color:#47ACF2;



.todolist_top button{
    border: 1px solid rgba(119, 136, 153, 0.701);
    background-color:aqua;
    padding: 5px;
    text-transform: capitalize;
    border-top-left-radius: 10px ;
    border-top-right-radius:  10 px,
}



